body{
  background-color:black;
}
.jumbotron{
  background-color:black;
  color:white;
}
p {
  color: white;
  padding: 10px;
  overflow-wrap: normal;
  overflow-wrap: break-word;
}
#frm1{
  color:white;
}
a {
  color: teal;
}
button{
  background-color:grey;
  color:white;
  margin:10px;
  border-color:black;
}